@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque_5 {
  height: auto;
  position: relative;
  background-color: white;
  margin-bottom: 2rem;
  @include m.tablet_760 {
    display: grid;
    justify-content: center;
  }
}
