@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque5__title {
  height: 17rem;
  display: grid;
  row-gap: .5rem;
  padding-top: 2rem;
  @include m.desktop_1360 {
    margin-top: 4rem;
  }
  h1 {
    margin: 0;
    font-family: "Poppins", sans-serif;  
    text-align: center;
  }
  .bloque5__title--one {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 900;
    font-size: 2.2rem;
    padding: 0 4rem;
    @include m.phone_360 {
      padding: 0 6rem;
    }
    @include m.phone_380 {
      padding: 0 7rem;
    }
    @include m.desktop_1280 {
      font-size: 2.5rem;
    }
    @include m.desktop_1360 {
      font-size: 2.5rem;
    }
    @include m.desktop_1440 {
      font-size: 3rem;
    }
  }
  .bloque5__title--two {
    font-weight: 900;
    font-size: 2.3rem;
    background-color: v.$secundario; 
    margin: 0 6rem;
    display: grid;
    align-items: center;
    @include m.phone_380 {
      padding: 0 2rem;
    }
    @include m.tablet_760 {
      margin: 0 17rem;
    }
    @include m.desktop_1280 {
      margin: 0 48rem;
    }
    @include m.desktop_1360 {
      font-size: 3.5rem;
    }
  }
  .bloque5__title--three {
    padding: 1rem 1rem 0 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    @include m.desktop_1280 {
      font-size: 2rem;
    }
    span {
      font-weight: 900;
    }
  }
}