@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque_3 {
  height: auto;
  background-color: v.$primario;
  position: relative;
}


.swiper-pagination {
  width: 20rem;
  height: 3rem;
  position: relative;
  // background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2.5rem !important;
}


.bullet {
  color: white;
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  width: 4rem !important;
  border-radius: .3rem !important;
  height: 1.1rem !important;
  transition: all 500ms ease-in;
}

// .swiper-pagination-bullet-active {
//   color: #fff;
//   background: #007aff;
// }