@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque_3 {
  height: auto;
  background-color: v.$primario;
  position: relative;
}


.swiper-pagination {
  width: 20rem;
  height: 3rem;
  position: relative;
  // background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 7.5rem !important;
  @include m.phone_360 {
    bottom: 9.5rem !important;
  }
}


.bullet {
  color: transparent;
  background-color: white !important;
}

.swiper-pagination-bullet .swiper-pagination-bullet-active {
  opacity: 0;
  color: transparent;
  margin-bottom: .5rem;
}

//SWIPER-PAGINATION-BULLET-ACTIVE - esta en globales

.bloque3__anotation {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  @include m.phone_360 {
    margin-top: 3rem;
  }
  @include m.desktop_1020 {
    margin-top: 2rem;
  }
  @include m.desktop_1360 {
    margin-top: 3rem;
  }
  h3 {
    font-family: "Work-Sans", sans-serif;
    margin: 0;
    font-size: 1.2rem;
    color: white;
    height: 100%;
    width: 80%;
    text-align: center;
    padding: .5rem 0;
    @include m.tablet_760 {
      font-size: 1.5rem;
    }
    @include m.desktop_1020 {
      font-size: 1.7rem;
    }
  }
}