@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque3__title {
  padding-top: 3.5rem;
  .bloque3__one {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding-bottom: .8rem;
  }
  .bloque3__two {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 2.7rem;
    text-align: center;
    font-weight: 900;
    color: v.$secundario;
  }
}