@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque_3 {
  height: auto;
  background-color: v.$primario;
  position: relative;
}


.swiper-pagination {
  width: 20rem;
  height: 3rem;
  position: relative;
  // background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2.5rem !important;
}


.bullet {
  color: transparent;
  background-color: white !important;
}

.swiper-pagination-bullet .swiper-pagination-bullet-active {
  opacity: 0;
  color: transparent;
  margin-bottom: .5rem;
}

//SWIPER-PAGINATION-BULLET-ACTIVE - esta en globales