.slider__item--img {
  background-color: transparent;
}

.cti_1 {
  background: center/cover no-repeat url(../img/card_1.webp);
}

.cti_2 {
  background: center/cover no-repeat url(../img/card_3.webp);
}

.cti_3 {
  background: center/cover no-repeat url(../img/card_4.webp);
}

.cti_4 {
  background: center/cover no-repeat url(../img/card_5.webp);
}

.cti_5 {
  background: center/cover no-repeat url(../img/card_6.webp);
}

.cti_6 {
  background: center/cover no-repeat url(../img/card_2.webp);
}

.cti_7 {
  background: center/cover no-repeat url(../img/card_7.webp);
}

.cti_8 {
  background: center/cover no-repeat url(../img/card_8.webp);
}

.cti_9 {
  background: center/cover no-repeat url(../img/card_9.webp);
}
