@use 'base/variables' as v;
@use 'base/mixins' as m;

.slider__container{
  height: auto;
  position: relative;
  // max-width: v.$max-width;
  width: 100%;
  // background-color: red;
  @include m.tablet_760 {
    max-width: 55rem;
  }
  @include m.desktop_1000 {
    overflow: hidden;
  }
  @include m.desktop_1020 {
    // max-width: v.$max-width-1020;
    max-width: 95rem;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
  }
}