@use 'base/variables' as v;
@use 'base/mixins' as m;

.slider__grid {
    position: relative;
    display: flex;
    height: auto;
}

.eventsContainer__grid .swiper-wrapper {
    transition-timing-function: linear;
}
.swiper-wrapper {
    @include m.desktop_1020 {
        height: auto !important;
    }
}