@font-face {
    font-family: 'Druk-Regular';
    src: url('../fonts/Druk-Wide-Medium-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Morganite-Bold';
    src: url('../fonts/Morganite-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-display: swap;
}