@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque4__slider {
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  @include m.desktop_1020 {
    margin-top: 3rem;
  }
  @include m.desktop_1360 {
    margin-top: 6rem;
  }
}