@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque_4 {
  height: auto;
  background-color: v.$tercero;
  position: relative;
}

.swiper-pagination2 {
  width: 20rem;
  height: 3rem;
  position: relative;
  // background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 2.5rem !important;
  z-index: 20;
}


.bullet2 {
  color: transparent;
  background-color: black !important;
  z-index: 20;
}


