@use 'base/variables' as v;
@use 'base/mixins' as m;

.slider__info {
  background-color: black;
  display: grid;
  grid-template-rows: 20% 55% 25%;
  height: auto;
  padding: .5rem;
  @include m.desktop_1080 {
    padding: .5rem 1rem;
  }
  @include m.desktop_1360 {
    padding: .5rem 1.5rem;
  }
}

.info__title {
  h3 {
    margin: 0;
    color: white;
    display: flex;
    height: 100%;
    // font-family: v.$fuente_wsBold;
    align-items: center;
    font-size: 1.4rem;
  }
}

.info__careers {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: .5rem;
}

.career__item {
  h3 {
    color: white;
    margin: 0;
    position: relative;
    padding-left: 1.4rem;
    font-size: 1.1rem;
    font-weight: 400;
    // font-family: v.$fuente_wsRegular;
    &::before {
      content: '';
      background: no-repeat url(../img/check.svg);
      height: 1rem;
      width: 1rem;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.info__bottom {
  display: grid;
  grid-template-columns: 40% 60%;
}

.info__date {
  h3 {
    font-weight: 500;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: .9rem;
    color: white;
    padding-left: 2.1rem;
    padding-right: .2rem;
    position: relative;
    // font-family: v.$fuente_wsRegular;
    @include m.desktop_1080 {
      padding-left: 2.5rem;
    }
    @include m.desktop_1920 {
      padding-left: 2.2rem;
    }
    &::before {
      content: '';
      background: no-repeat url(../img/calendario.svg);
      height: 2rem;
      width: 2.5rem;
      position: absolute;
      left: 0rem;
      top: .8rem;
    }
  }
}

.info__button--container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.info__button {
  width: 90%;
  background-color: v.$secundario;
  border-radius: .3rem;
  cursor: pointer;
  h3 {
    // font-family: v.$fuente_wsRegular;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    @include m.desktop_1080 {
      font-size: 1.1rem;
    }
  }
}

.disa {
  background-color: #d8c68a !important;
  border-radius: .3rem;
  cursor: pointer;
  width: 90%;
  h3 {
    // font-family: v.$fuente_wsRegular;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    @include m.desktop_1080 {
      font-size: 1.1rem;
    }
  }
}