.footer__direccion {
  h2 {
    color: white;
    margin: 0;
    font-family: "Work-Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    span {
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}